<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 

<head> 
	<meta charset="UTF-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"> 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"> 
	<link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/7656/7656409.png"> 
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
	<title>Inventory Management System</title> 
	<link rel="stylesheet" href="css/styles.css">
	<script src="index.js" defer></script>
</head> 
<style>
	@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,800&display=swap'); 

body { 
	font-weight: 600 !important; 
	overflow-x: hidden; 
} 

.navbar-brand { 
	font-family: 'Noto Serif', serif; 
	margin-left: 1rem; 
	color: white !important; 
	font-weight: 700; 
	font-size: x-large !important; 
} 

.nav-link { 
	font-weight: 600; 
	font-size: 16px !important; 
} 

.nav-link:active, 
.nav-link.active { 
	background-color: #198754 !important; 
	color: white !important; 
} 

.nav-link:hover { 
	color: white !important; 
	background-color: #198754 !important; 
} 

.content { 
	padding: 15px; 
} 

::placeholder { 
	font-size: 14px; 
	font-weight: 400; 
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
} 

td { 
	font-size: 13px; 
} 

label { 
	font-family: 'Noto Serif', serif; 
} 
.warehouse-icon {
		width: 100px;
		height: 100px;
		display: inline-block;
		margin: 10px;
		cursor: pointer;
		border-radius: 10px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		transition: transform 0.3s ease;
	}
.popup {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		border: 1px solid #ccc;
		padding: 1px;
		z-index: 1000;
		width: 625px;
		box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}
.overlay {
display: none;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
z-index: 999;
}
#lockedContent {
    display: none;
  }

</style>
<body> 

	<nav class="navbar navbar-expand-md navbar-light bg-success"> 
		<div class="container-fluid"> 
			<a class="navbar-brand" href="#"><i class="fa fa-align-center" aria-hidden="true"></i> Inventory</a> 
		</div> 
	</nav>
	<div id="warehouse">
	<label>Choose a Warehouse</label> 
	<select name="warehouse" id="warehouseo"  th:field="*{rating}" > 
		<option value=""></option> 
		<option value="1">West Lake Capcity(400)</option> 
		<option value="2">Downtown Capcity(365)</option> 
		<option value="3">East Expressway Capcity(1154)</option> 
		<option value="4">Midwest Capcity(520)</option> 
		<option value="5">Pacific NorthWest Capcity(500)</option> 
	</select>
</div> 
			<button onclick="showContent()" >submit</button>
	<div class="container-fluid"> 
		<div class="row"> 
			<div class="col-md-2 bg-light"> 
				<div class="bg-light min-vh-100"> 
					<div class="sidebar-sticky"> 
						<ul class="nav flex-column nav-pills" id="sampleTabs"> 
							<!-- <li class="nav-item p-2"> 
								<a class="nav-link text-success mt-5" data-bs-toggle="pill" href="#Home"><i
										class="fa fa-home"></i>Home</a> 
							</li>  -->
							<li class="nav-item p-2"> 
								<a class="nav-link text-success mt-2" data-bs-toggle="pill" href="#products"><i
										class="fa fa-database"></i>Products</a> 
							</li> 
							<li class="nav-item p-2"> 
								<a class="nav-link text-success mt-2" data-bs-toggle="pill" href="#addProduct"><i
										class="fa fa-plus"></i>Add Product</a> 
							</li> 
							<li class="nav-item p-2"> 
								<a  class="nav-link text-success mt-2" data-bs-toggle="pill" href="#searchProduct"><i
										class="fa fa-search"></i>Search Product</a> 
							</li> 
						</ul>
						
						
					</div> 
				</div> 
			</div>
			
			<div id="lockedContent" class="col-md-10"> 
				<div class="content tab-content"> 
					
					<div class="tab-pane fade" id="products"> 
						<h4 class="text-success p-2">All Products Data</h4> 
						<div class="table-responsive mt-5"> 
							<table  class="table table-hover table-bordered" pagesize="10"> 
								<thead class="bg-success text-light"> 
									<th>Category</th> 
									<th>Name</th> 
									<th>Rating</th> 
									<th>Quantity</th> 
									<th>price</th> 
									<th>SN</th>
									<th>Options</th>
								</thead> 
								<tbody  id="allProds"> 
									<!-- <tr th:each="product, index : ${products}" >
									</tr>  -->
								</tbody> 
							</table> 
						</div> 	
					</div> 
					<div class="tab-pane fade" id="addProduct"> 
						<h4 class="text-success p-2">Add New Product</h4> 
						<br> 
						<div class="container"> 
							<form class="p-1" id="newProduct" action="#" > 
								<div class="row p-4 justify-content-center"> 
									<div id="successButton"> 
									</div> 
									<div class="col-sm-3 offset-sm-1 p-2"> 
										<label>product Category</label> 
										<select id="category" name="category" th:field="*{category}" class="form-select mt-3" required> 
											<option value=""></option> 
											<option value="Electronics">Electronics</option> 
											<option value="Fashion">Fashion</option> 
											<option value="Furniture">Furniture</option> 
											<option value="Home&Kitchen">Home & Kitchen</option> 
											<option value="Grocery">Grocery</option> 
										</select> 
									</div>   
									<div class="col-sm-3 offset-sm-1 p-2"> 
										<label>product Name</label> 
										<input name="name" type="text" th:field="*{name}" class="form-control mt-3" required 
											placeholder="name of the product"> 
									</div> 
									<div class="col-sm-3 offset-sm-1 p-2"> 
										<label>product Rating</label> 
										<select name="rating"  id="rating" th:field="*{rating}" class="form-select mt-3" required> 
											<option value=""></option> 
											<option value="1">1</option> 
											<option value="2">2</option> 
											<option value="3">3</option> 
											<option value="4">4</option> 
											<option value="5">5</option> 
										</select> 
									</div> 
								</div> 
								<div class="row p-4 justify-content-center"> 
									<div class="col-sm-3 offset-sm-1 p-2"> 
										<label>product Quantity</label> 
										<input name="quantity" id="quantity" type="number" th:field="*{quantity}" class="form-control mt-3" required 
										placeholder="Number of Items Available" style="width:fit-content"> 
									</div>
									<div class="col-sm-3 offset-sm-1 p-2"> 
										<label>product Price</label> 
										<input name="price" id="price" type="text" th:field="*{price}" class="form-control mt-3" required 
										placeholder="Name your price"> 
									</div> 
									
								</div> 
								
								<br> 
								<button type="submit" class="btn btn-success text-light" style="margin-left: 7rem;">Add 
									Product</button> 
									
							</form> 
						</div> 

					</div> 
					<div id="searchProduct" class="tab-pane fade" > 
						<h4 class="text-success p-2">Search Product Details</h4> 
						<br> 
						<div class="container p-1"> 
							<form id="productSearch" class="p-1" action="#" > 
								<div class="row"> 
									<div class="col-sm-9 offset-sm-1"> 
										<input type="text" name="keyWord" th:field="*{category}" class="form-control" required 
											placeholder="Product ID"
											style="text-align: center; border-radius: 30px; border: 2px solid green;">
											

									</div> 

									<div class="col-sm-2"> 
										 
										<button type="POST" class="btn btn-success"
											style="border-radius: 20px;">Search Product</button> 
											<select name="category" th:field="*{category}" required> 
												<option  value=""></option> 
												<option  value="Name">Name</option> 
												<option  value="Category">Category</option> 
												<option  value="Rating">Rating</option> 
											</select> 
											
									</div>
									
						
								</div> 
								<br> 
								<div id="foundProduct" > 
									<div class="table-responsive mt-4"> 
										<table class="table table-hover table-bordered"> 
											<thead class="bg-success text-light"> 
												<tr>	
													<th>Category</th> 
													<th>Name</th> 
													<th>Rating</th> 
													<th>Quantity</th> 
													<th>price</th> 
													<th>SN</th>
													<th>Options</th>
												</tr>
											</thead>
											<tbody id="productFound">
											</tbody> 
										</table> 
									
										
									</div> 
								</div> 
								 <div id="cantfind"> 
									
								</div> 
							</form> 
						</div> 
						
					</div> 
					<div id="popup" class="popup">
						<h2>Popup</h2>
							<form id="popupForm">
								<label>product Category</label> 
								<input type="text" name="pid" style="display: none;" value="${id}">
								<input type="text" name="psn" style="display: none;" value='${sn}'>

								<select value="" required> 
									<option  text="${category}" >${category}</option> 
									<option value="Electronics">Electronics</option> 
									<option value="Fashion">Fashion</option> 
									<option value="Furniture">Furniture</option> 
									<option value="Home&Kitchen">Home & Kitchen</option> 
									<option value="Grocery">Grocery</option> 
								</select> <br>
								<label>product Name</label> 
									<input type="text" id="namee" value="${name}"  required 
										placeholder="name of the product"><br>
										<label>product Rating</label> 
										<select value="${rating}" required> 
											<option value=""></option> 
											<option value="1">1</option> 
											<option value="2">2</option> 
											<option value="3">3</option> 
											<option value="4">4</option> 
											<option value="5">5</option> 
										</select>
										<label>product Quantity</label> 
										<input type="number" value="${quantity}" required 
										placeholder="${quantity}"><br>
										<label>product Price</label> 
										<input type="text"  name="pprice"required 
										placeholder="Name your price" value="${price}"> 
								<button  type="POST">Submit</button>
								<button onclick="closePopup()" type="POST">close</button>
							</form>
					</div>
					  <div id="overlay" class="overlay"></div>
					<div class="tab-pane fade"  id="wareHouse">
						<h1>Choose The Warehouse</h1>
						<table class="table table-hover table-bordered"> 
							<thead class="bg-success text-light"> 
								<th>Name</th>
								<th>Location</th>
								<th>Link To Products</th>
							</thead> 
							<tbody> 
								<tr th:each="warehouse, index : ${warehouses}" > 
									<td th:text="${warehouse.name}"></td>
									<td th:text="${warehouse.location}"></td>
									<td><img th:src="' https://cdn-icons-png.flaticon.com/512/407/407826.png'" th:alt="${warehouse.name}" th:title="${warehouse.name}"
										class="warehouse-icon"
										th:data-warehouseid="${warehouse.id}"
										th:data-warehousename="${warehouse.name}"
										onclick="redirectToWarehouse(this)"></td> 
									
	
								</tr> 
								
							</tbody> 
						</table> 
						
							<script>
								function redirectToWarehouse(element) {
									var warehouseId = element.getAttribute("data-warehouseid");
									var warehouseName = element.getAttribute("data-warehousename");
									// Redirect to the warehouse details page or perform any desired action
									alert("Clicked on warehouse with ID: " + warehouseId + " and Name: " + warehouseName);
									// window.location.href = '/warehouse/' + warehouseId;
								}
							</script>
					</div>
				</div>

			</div>
					
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
							<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
							<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script> 
							<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

							<script>
								$('a[data-bs-toggle="pill"]').on('show.bs.tab', function(e) {
										localStorage.setItem('activeTab', $(e.target).attr('href'));
									});
									var activeTab = localStorage.getItem('activeTab');
									if(activeTab){
										$('#sampleTabs a[href="' + activeTab + '"]').addClass('show active');
										
										
										page = $(activeTab);
										
										page.addClass("tab-pane fade active show");
								
									}
									else
									{
										page = $(activeTab);
										page.addClass("tab-pane fade");


									}
								
						</script>  
		</div> 
	</div> 

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> 
</body> 

</html>